body {
  background-color: red;
}

.FilmWikiHomePageCenter {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  border-style: groove;
  border-width: 1px;
  border-color: gray;
  /* margin-left: 100px;
  margin-right: 100px; */
}

#filmTitle {
  text-align: left;
}

.filmDataBottom {
  text-align: left;
}

#filmData {
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  padding: 10px;

  /* border: 1px solid;
  border-color: rgb(255, 255, 255); */
  border-style: groove;
  border-width: 1px;
  border-color: rgb(200, 0, 0);
}

.reviewButtons {
  background-color: rgb(255, 0, 0);
  float: left;
  margin-right: 5px;
  margin-left: 10px;
}

#IronMan div {
  float: right;
}

#reviewData {
  background-color: rgb(255, 255, 255);
  color: black;
  margin-right: 10px;
  margin-left: 10px;
  border-style: groove;
  border-width: 3px;
  border-color: gray;
}

#Map {
  display: flex;
  margin: 5px;
}

#bottomMap {
  margin-bottom: 10px;
}
